<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation"><a href="#">Clients</a></li>
			<li role="presentation"><a href="/send">Send Email</a></li>
		</ul>
	</nav>
	<h3 class="text-muted">Mailing List App</h3>
</div>