<div class="container">
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li role="presentation"><a href="/">Clients</a></li>
				<li role="presentation"><a href="/send">Send Email</a></li>
			</ul>
		</nav>
		<h3 class="text-muted">Mailing List App</h3>
	</div>
	<div class="row">
		<h2>Register</h2>
		<form>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Maria Smith">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" placeholder="maria.smith@gmail.com">
			</div>
			<button class="btn btn-success" id="register">Register</button>
		</form>
	</div>
	<hr>

	<div class="row">
		<h2>Clients</h2>
		<table class="table table-striped" id="clients">
			<thead>
			<th>Name</th>
			<th>Email</th>
			<th>Date Created</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<footer class="footer">
		<p>&copy; 2015 Company, Inc.</p>
	</footer>

</div> <!-- /container -->

